<%= form_for(@order) do |f| %>
  <p>
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name, required: true, autofocus: true %>
  </p>
  <p>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name, required: true, autofocus: true %>
  </p>
  <p>
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </p>
  <p>
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address %>
  </p>
  <p>
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>