<div style="color: white">

	<%= line_item.product.title %>
	<%= number_to_currency(line_item.total_price) %>
	<%= form_for line_item, remote: true do |f| %>
            <%= f.number_field :quantity, value: line_item.quantity.to_i, class: "form-control", style: "color: white", min: 1 %>
            <%= f.submit "Update Quantity", class: "btn btn-primary" %>       
    <% end %>
	<!-- <#%= line_item.quantity %> -->
	<%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure?" }, class: "btn" %>

</div>

